body {
             
    position: relative;
              
}
.nav-link{
	color:#41FC5D;
}
.navbar{
	height: 60px;
	text-decoration-color: #41FC5D;
}



nav ul{
	display: flex;
}
.nav-item{
	font-color:#41FC5D;
	margin: 20px;
	font-family: myriad pro regular;
	
	font-size: 15px;
	font-weight: 700;
}
.form-control,
.btn{
    margin: 20px;
	font-family: myriad pro regular;
	color:#505050;
	font-size: 15px;
	font-weight: 700;

}
.container h1{
	font-weight: bold;
	color:#41FC5D;


	 font-family: 'Merriweather', serif;

	font-size: 70px;
	font-weight: bold;
	width: 880px;

}
.carousel-inner h3,
.carousel-inner p{
	color:#D5FC41;
}
#appSummary {
           
   text-align: center;
   margin-top:50px;
   margin-bottom: 50px;
              
}
.jumbotron {
              

    text-align: center;
    margin-top: 50px;
    background: #0d0d0d;
 }
#jumbotron h1{
    color: #41FC5D;
    font-family: 'Sacramento', cursive;
}
#jumbotron p{
    color: #D5FC41;
}



.container1{
	padding: 150px; 


}
.container1 .card{
	background: #020D36;
}


.container1 .card-block p{
	color: #FFFE00;
	font-family: 'Acme', sans-serif;
}

.container1 .card-title u{
	text-align: center;
	color:#11FF00;
	 font-family: 'Merriweather', serif;
}
.container1 .card-title i{
	color:#29D0DF;
	 
}

#appStoreIcon {
              
   width: 200px;
   border-radius: 8%;
              
}
span{
font-family: 'Open Sans', sans-serif;
}
#jumbotron h2{
    color: #41FC5D;
    font-family: 'Orbitron', sans-serif;
}
